*{
    margin: 0;
    padding: 0;
}
.main{
    background: rgb(142, 160, 165);
    width: 100%;
    height: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nav{
    
   margin-left: 50px;
   padding-top: 30px;
   font-size: 20px;
  
}
.logo{
    font-size: 25px;
    font-weight: bolder;
}
.about{
    position: relative;
    left:210px;
    color: white;
    text-decoration: none;
    padding: 10px 25px;

    
}
#but{
    position: absolute;
    right: 6%;
    background: #ebca37;
    padding: 10px 25px;
    border-radius: 35%;

}
.dot{
    margin-left: 50px;
    color: orange;
    font-size: 80px;
}
.dot1{
    color: red;
}
.h1{
    margin-left: 50px;
}
    .underlined {
        position: relative;
        margin-right: 16px;
      }
      .underlined:after {
        content: "";
        position: absolute;
        bottom: -18px;
        left: 0;
        height: 7px;
        width: 100%;
        border: solid 3px rgb(255, 187, 0);
        border-color: rgb(255, 187, 0)transparent transparent transparent;
        border-radius: 55%;
      }





